:root {
    --primary-color: rgb(44, 95, 47);
    --secondary-color: rgba(29, 111, 18, 0.813);
    --accent1-color: rgb(0, 0, 0);
    --accent2-color: rgb(43, 123, 22);
    --heading-font: "Bebas Neue",
        sans-serif, serif;
    --body-font: "Poppins", sans-serif;
}

/* Header content */

header {
    list-style: none;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
}

nav li {
    padding: 5px 0;
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 8px 20px;
    background-color: olive;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: darkolivegreen;
    color: white
}

header img {
    width: 150px;
    height: 150px;
}

/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body elements */

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/*footer elements*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 65px;
}

footer img {
    width: 32px;
    height: 32px;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

/* hero class elements*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding: 8px;
    border: 4px solid var(--accent2-color);
    background-color: var(--accent2-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: left;
    background-color: antiquewhite;
}

/* article elements */

.history-banner-title {
    width: 100%;
    margin: 10px 0 auto o;
    padding: 0;
    background-color: var(--secondary-color);
    color: #0e0707;
    text-align: center;
    border: 2px solid var(--secondary-color);

}

.history-banner-title h2 {
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid var(--secondary-color);
}

.raft-grid {
    background-color: #ffffff;
    border: none;
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.raft-grid p {
    margin: 0;
    line-height: 1.3;
    font-size: 1.1rem;
    text-align: left;
    color: #000000;
}

.img-grid img {
    width: 350px;
    border-radius: 12px;
    display: block;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
}

article {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    background-color: rgba(20, 104, 9, 0.753);
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--body-font);
}

.hero article img {
    float: right;
    width: 125px;
    border-radius: 7px;
    padding: 0.01px;
    border: 2px solid rgb(0, 0, 0);
}

h2 {
    text-align: center;
}

/* section of images changes */

.bottom-title h2 {
    background-color: antiquewhite;
}

.grid-card {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 2rem;
}

.grid-card figure {
    flex: 1;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--accent2-color);
}

.grid-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border-bottom: 10px;
    object-position: center;
}

.grid-card figcaption {
    font-size: 1rem;
    color: var(--accent1-color);
    font-weight: bold;
}

/* ######################  CONTACT US WEB PAGE CONFIGURATION ################# */

/*employer profile*/

.employe {

    border-radius: 12px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
}

/* General contact information */

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-info h1 {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

}

.true-info {
    text-align: center;
}

.true-info p {
    margin: 2px;
    padding: 2px;
}

/* Grid , map and form conf */

.map-box {
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* FORM */

.radio-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.radio-group p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button {
    padding: .25rem;
    width: 150px;
}

.form-info label {
    display: block;
    margin-bottom: 4px;
}

.form-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-info,
.radio-group {
    margin: 0;
    padding: 0;
}